body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.header1 {
    display: flex;
    justify-content: flex-start;
    background-color: #D9D9D9;
    width: 1000%;
}
.header1 img{
    width: 70px;
    height: 70px;
    margin-left: 2rem;
}
.wrappers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8rem;
}
.wrappers img{
    width: 120px;
    height: 120px;
}
.wrappers p{
    font-size: 40px;
}
.wrappers .funeral{
    margin-left: 3rem;
}
.wrappers .st{
    margin-left: 2rem;
}
.wrapper2{
    justify-content: center;
    display: flex;
    align-items: center ;
    text-align: center;
    font-size: 25px;
    margin-top: 6rem;
}
.wrapper3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.wrapper3 img{
    width: 120px;
}
.wrapper3 button{
    background-color: #2E2828;
    padding: 5px;
    border: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 7rem;
}
.wrapper{
    background-image: url("langit.png");
    background-size: cover;
}